<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=ec9db805d851597b"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CCDSClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>    
  <dataConfiguration defaultDatabase="CNN"/>
  <connectionStrings>
    <add name="MainCNN" connectionString="Database=fasdf;Server=.\fdfds;User ID=BESACC" providerName="System.Data.SqlClient"/>
    <add name="TempCNN" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=FTSACCTMP.mdb;User ID=ADMIN" providerName="System.Data.OleDb"/>
    <add name="FTS.HRUI.Properties.Settings.ConnectionString" connectionString="Dsn=fast;sourcedb=c:\Temp\ketoan on Server\ketoan on Server\COD;sourcetype=DBF;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes" providerName="System.Data.Odbc"/>
    <add name="SysCacheVista" connectionString="Data Source=SysCacheVista.vdb3;Open Mode=NonexclusiveReadWrite" providerName="VistaDB.NET20" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DATAPATH" value="Data" />
    <add key="LANGUAGE" value="VN" />
    <add key="SERVERNAME" value="" />
    <add key="USERID" value="fts" />
    <add key="PASSWORD" value="abcd1234" />
    <add key="THEME" value="Office 2007 Blue"/>
    <add key="POS" value="0"/>
    <add key="POS_SALE" value="1"/>
    <add key="POS_PURCHASE" value="1"/>
    <add key="POS_ITEM" value="1"/>
    <add key="TIMER_INTERVAL" value="10000"/>
    <add key="POSUSERID" value="sa"/>
    <add key="POSPASSWORD" value="11"/>
    <add key="POSDATABASENAME" value="IPOSC"/>
    <add key="POS_ACCOUNT_ID_COST" value="15681"/>
    <add key="POS_ACCOUNT_ID_SALE_COST" value="632118"/>
    <add key="POS_ACCOUNT_ID_INCOME" value="51138"/>
    <add key="POS_ACCOUNT_ID_CASH" value="1111"/>
    <add key="POS_ACCOUNT_ID_BANK" value="11211"/>
    <add key="POS_WAREHOUSE_ID" value="04"/>
    <add key="POS_JOB_ID" value="00"/>
    <add key="POS_ORGANIZATION_ID" value="CTY"/>
    <add key="POS_SALE_TRAN_ID" value="BH02"/>
    <add key="POS_PURCHASE_TRAN_ID" value="NM02"/>    
    <add key="WORKINGMODE" value="1"/>
    <add key="SERVERURL" value=""/>
    <add key="SOAPPROVE" value="0"/>
    <add key="TIMER_INTERVAL" value="10000"/>
    <add key="MODUEL_LIST" value="FIN"/>
    <add key="LANGUAGE_LIST" value="VN"/>
    <add key="ISDEV" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <add name="VistaDB Data Provider" invariant="VistaDB.NET20" description=".Net Framework Data Provider for VistaDB" type="VistaDB.Provider.VistaDBProviderFactory, VistaDB.NET20, Version=3.4.1.63, Culture=neutral, PublicKeyToken=dfc935afe2125461" />
    </DbProviderFactories>
  </system.data>
</configuration>
