<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTS.AccUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FTS.AccUI.Properties.Settings.ConnectionString" connectionString="Dsn=fast;sourcedb=c:\Temp\ketoan on Server\ketoan on Server\COD;sourcetype=DBF;exclusive=No;backgroundfetch=Yes;collate=Machine;null=Yes;deleted=Yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <applicationSettings>
        <FTS.AccUI.Properties.Settings>
            <setting name="FTS_AccUI_iPosService_Service" serializeAs="String">
                <value>http://localhost:49239/IFService/Service.asmx</value>
            </setting>
        </FTS.AccUI.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>