<script type="text/kendo-template" id="invoiceDetailView_Template">  

<style scoped>
    .customer-section label {
        display: inline-block;
        width: 200px;
        line-height: 30px;
        height: 30px;
    }

    .customer-section li {
        padding-bottom: 5px;
        list-style: none;
    }

    .customer-section button {
        float: right;
        
    }
    
    .customer-section a {
        float: right;
        
    }
   </style>   
   <div id="form-container">    
     <div class="k-header customer-section">
        <ul>
            <li>
                <label>Số Chứng Từ:</label>

                <span class="k-textbox k-button k-space-right">
                    <input type="text" class="k-textbox" id="TRAN_NO" data-bind="events: { change: change }" />
                    <a class="k-icon k-insertFile" data-bind="events: { click: showInvoiceSelector }"></a>
                </span>
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                 <label> Ngày Chứng Từ: </label>
                 <input   id="TRAN_DATE"
                          data-role="datepicker"
                          data-bind="value: selectedSale.TRAN_DATE, events: { change: change }"
                          style="width: 180px"
                />
            </li>               
        </ul>
    </div>

    <div class="k-header customer-section" data-bind="visible: saleBinded">
        <ul>
            <li>
                <label>Khách Hàng</label>
                <span class="k-textbox k-button k-space-right">
                    <input type="text" class="k-textbox" id="PR_DETAIL_ID" data-bind="events: { change: change }" />
                    <a class="k-icon k-insertFile" data-bind="events: { click: showCustomerSelector }"></a>
                </span>
                &nbsp;
            <label data-bind="text: selectedCustomer.PR_DETAIL_NAME"></label>
                <li>
                    <label>Người Giao Dịch</label>
                    <input type="text" class="k-textbox" id="PHONE" data-bind="value: selectedSale.ADDRESS, events: { change: change }" /></li>
            <li>
                <label>Địa Chỉ</label>
                <input type="text" class="k-textbox" id="ADDRESS" data-bind="value: selectedSale.ADDRESS, events: { change: change }" /></li>
            <li>
                <label>Mã Số Thuế</label>
                <input type="text" class="k-textbox" id="TAX_FILE_NUMBER" data-bind="value: selectedSale.TAX_FILE_NUMBER, events: { change: change }" /></li>
            <li>
                <label>Ghi Chú</label>
                <input type="text" class="k-textbox" id="COMMENTS" data-bind="value: selectedSale.COMMENTS, events: { change: change }" />              
            </li>
        </ul>
    </div>

    <div id="saleDetailGrid"
         data-role="grid"
         data-pageable="true"
         data-height="250"
         data-toolbar='[{ name: "create", text: "Thêm Mới" }]'
         data-columns='[
                { field: "ITEM_ID", title: "Mã Khóa", editor: productEditor, width: "170px" },
                { field: "ITEM_NAME", title: "Tên Sản Phẩm", width: "200px" },                
                { field: "UNIT_PRICE", title: "Đơn Giá" },
                { field: "QUANTITY", title: "Số Lượng" },
                { field: "AMOUNT", title: "Thành Tiền" },
                { field: "VAT_TAX_RATE", title: "Thuế Suất VAT" },
                { field: "VAT_TAX_AMOUNT", title: "Thuế VAT" },
                { field: "TOTAL_AMOUNT", title: "Tổng Tiền" },
                {
                    command: [{
                        name: "Delete",
                        text: "Xóa",
                        imageClass: "k-icon k-i-close",
                        click: deleteSaleDetail
                    }],
                    title: "&nbsp;",
                    width: "100px"
                }]'
            data-editable="true"
            data-selectable="cell"
            data-navigatable="true"
            data-sortable="true"
            data-save=editSaleDetail
        ></div>
     
    
    <div class="k-edit-buttons k-state-default customer-section">
        <a class="k-button k-button-icontext k-primary k-grid-update" href="#"  data-bind="click: save, enabled: hasChanges">
            <span class="k-icon k-update"></span>
                Cập Nhật
        </a>
        <a class="k-button k-button-icontext k-grid-cancel" href="#"  data-bind="click: cancelChange">
            <span class="k-icon k-cancel"></span>
                Bỏ Qua
        </a>
    </div>

    <div id="invoiceWindow">
        <div id="invoiceSelectGrid"></div>
    </div>

    <div id="customerWindow">
        <div id="customerSelectGrid"></div>
    </div>

    <div id="productWindow">
        <div id="productSelectGrid"></div>
    </div>
</div>
    </script>