<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTS.BaseBusiness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FTS.BaseBusiness.Properties.Settings>
            <setting name="FTS_BaseBusiness_PFSService_Service" serializeAs="String">
                <value>http://localhost:6205/PFSService/Service.asmx</value>
            </setting>
        </FTS.BaseBusiness.Properties.Settings>
    </applicationSettings>
</configuration>